@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

.contact-section {
  padding: 5.625rem 1.5rem 3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title {
  text-align: center;
}

.contact-subtitle {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 2.75rem;
}

.contact-flex {
  margin-bottom: 4.625rem;
  width: 143px;
  height: 143px;
  background: linear-gradient(269deg, #f43366 0.72%, #3c33ef 103.58%);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text {
  color: var(--white-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.572rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.647px;
  margin-bottom: 1rem;
}

.contact-logo {
  margin-bottom: 3.625rem;
}

.socials {
  display: flex;
  gap: 2.851rem;
}

.social-icon {
  width: 100%;
}

li {
  list-style: none;
}

@media (min-width: 768px) {
  .contact-section {
    padding: 7.32rem 4.5rem 3.323rem;
  }

  .contact-subtitle {
    font-size: 2.875rem;
  }
}

@media (min-width: 1200px) {
  .contact-section {
    padding: 8.875rem 24.125rem 4.375rem;
  }

  .contact-title {
    font-size: 1rem;
  }
}
