@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.footer {
  padding-bottom: 2.313rem;
}

.privacy-terms {
  color: #acacac;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.privacy1-terms {
  display: none;
}

.hr-1 {
  background: #bbb;
  margin-bottom: 1.25rem;
}

.hr-2 {
  display: none;
}

.footer-subtitle {
  color: #acacac;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .hr-1,
  .privacy-terms {
    display: none;
  }

  .hr-2 {
    display: block;
    background: #bbb;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .privacy1-terms {
    display: block;
    color: #acacac;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-align: right;
  }

  .footer-subtitle {
    text-align: left;
  }
}
